<main>
    {{!< layouts/main}} <h1>Carts Manager</h1>
        <ul id="cartList">
        {{#if carts.length}}
            {{#each carts}}
                {{#each this.products}}
                    <li>
                        <strong>CartID: </strong> {{this._id}} - <strong>ProductID: </strong> {{this.product}} - <strong>Quantity: </strong>{{this.quantity}}
                    </li>
                {{/each}}
            {{/each}}
        {{else}}
            <li>No carts available</li>
        {{/if}}
        <section>
            <h2>Delete Cart</h2>
            <form id="deleteCartForm" action="/api/cart/:cid" method="delete">
                <label for="cartId">Cart ID:</label>
                <input type="text" id="cartId" name="cartId" required>

                <button type="button" onclick="submitDeleteForm()">Delete Cart</button>
            </form>
        </section>
        
        <script>
            function submitDeleteForm () {
                const cartId = document.getElementById('cartId').value

                fetch(`/api/carts/${cartId}`, {
                    method: 'DELETE',
                    headers: {
                    'Content-Type': 'application/json'
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                    console.log('Success:', data)
                    document.getElementById('cartId').value = ''
                    })
                    .catch((error) => {
                    console.error('Error:', error)
                    })
                }
        </script>
</main>