<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-time Product Management</title>
</head>

<body>
    {{!< layouts/main}} <h1>Real-time Product Management</h1>
        <ul id="productList">
            {{#each products}}
            <li>
                <strong>{{this.title}}</strong> - {{this.description}} - ${{this.price}}
            </li>
            {{/each}}
        </ul>

        <form id="productForm" action="/api/products" method="post">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>

            <label for="description">Description:</label>
            <input type="text" id="description" name="description" required>

            <label for="price">Price:</label>
            <input type="number" id="price" name="price" required>

            <label for="stock">Stock:</label>
            <input type="number" id="stock" name="stock" required>

            <label for="code">Code:</label>
            <input type="text" id="code" name="code" required>

            <label for="category">Category:</label>
            <input type="text" id="category" name="category" required>

            <label for="status">Status:</label>
            <input type="text" id="status" name="status" required>

            <label for="thumbnail">Thumbnnail:</label>
            <input type="text" id="thumbnail" name="thumbnail" required>

            <button type="submit">Add Product</button>
        </form>

        <form id="deleteProductForm">
            <label for="productId">Product ID to Delete:</label>
            <input type="number" id="productId" name="productId" required>

            <button type="button" onclick='deleteProduct()'>Delete Product</button>
        </form>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>

        <script>
            const socket = io()

            socket.on('updateProducts', (products) => {
                const productList = document.getElementById('productList')
                productList.innerHTML = ''
                products.forEach(product => {
                    const li = document.createElement('li')
                    li.textContent = `Title: ${product.title} - Description: ${product.description} - Price: $${product.price}`
                    productList.appendChild(li)
                })
            })

            document.getElementById('productForm').addEventListener('submit', async (event) => {
                event.preventDefault()
                const formData = {
                    title: document.getElementById('title').value,
                    description: document.getElementById('description').value,
                    price: document.getElementById('price').value,
                    thumbnail: document.getElementById('thumbnail').value,
                    stock: document.getElementById('stock').value,
                    code: document.getElementById('code').value,
                    category: document.getElementById('category').value,
                    status: document.getElementById('status').value,

                }

                socket.emit('addProduct', formData)

                document.getElementById('title').value = ''
                document.getElementById('description').value = ''
                document.getElementById('price').value = ''
                document.getElementById('stock').value = ''
                document.getElementById('code').value = ''
                document.getElementById('category').value = ''
                document.getElementById('status').value = ''
                document.getElementById('thumbnail').value = ''
            })

            function deleteProduct() {
                const productId = document.getElementById('productId').value;

                fetch(`/api/products/${productId}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data)
                    })
                    .catch(error => console.error('Error:', error))
            }
            document.getElementById('productId').value = ''
        </script>
</body>
</html>